@model IEnumerable<CarritoConCantidades.Models.Producto>

@{
    ViewData["Title"] = "Index";
    List<int> carrito = Context.Session.GetObject<List<int>>("CARRITO");
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdBebida)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <form method="post" action="@Url.Action("Index", "Productos")">
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdBebida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        <img width="150" src="@Html.DisplayFor(modelItem => item.Imagen)" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)€
                    </td>
                    <td>
                        @if (carrito != null && carrito.Contains(item.IdBebida))
                        {
                            <button disabled class="btn btn-danger disabled">En carrito</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success">
                                Añadir a carrito
                            </button>
                        }
                    </td>
                    <td>
                        <input type="hidden" name="idproducto" value="@item.IdBebida" />
                        <select class="rounded border appearance-none border-gray-400 py-2 focus:outline-none focus:border-red-500 text-base pl-3 pr-10" id="cantidad" name="cantidad">
                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </td>
                </tr>
            </form>
            }
        </tbody>
    </table>

